name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4.0.0
      - run: pnpm install --frozen-lockfile
      - run: pnpm check
      - run: pnpm lint
