name: Deploy

env:
  NODE_VERSION: lts/*
  UPLOAD_TO: CF # GH or CF

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: main-example-deploy
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build

      # Deploy to Cloudflare Pages
      - run: pnpm run deploy
        if: env.UPLOAD_TO == 'CF'
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}

      # Deploy to GitHub Pages
      - uses: actions/upload-pages-artifact@v3
        if: env.UPLOAD_TO == 'GH'
        with:
          path: build

  # Deploy to GitHub Pages
  deploy_to_github_pages:
    needs: build_and_deploy
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
        if: env.UPLOAD_TO == 'GH'
